<h1 style="text-align: center;">Importing Excel File</h1>
<div class="container mb-3"> 
    <input class="form-control" type="file" (change)="onFileChange($event)" id="formFile" multiple="false">   
  </div> 
  <br><hr><br><br>
<div class="container mb-3">
    <table class="container table table-striped">
        <tbody>
            <tr *ngFor="let row of data">
                <td *ngFor="let cell of row" >
                    {{cell}}
                </td>
            </tr>

        </tbody>
</table>
</div>

